<style>
    .my-custom-row {
        display: flex;
        justify-content: space-between;
    }

    .iframe-container {
        position: relative;
  
        padding-top: 56.25%; /* 16:9 aspect ratio - adjust as needed */
    }

        .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .logo-container {
        display: flex;
        align-items: center;
    }

        .logo-container img {
            max-width: 100px;
            margin: 0 auto;
        }


</style>
<link rel="stylesheet" href="~/ForntEnd/css/footer.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<footer style="border-top:0.2rem solid #ccc;height:fit-content "  id="footer_contact" >

    <div  style="height:100%;width:100%" >

        <div class="my-custom-row">
    
            <div class="col-md">
                <div class="iframe-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.9581898057345!2d106.689027709277!3d10.737705889364515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fa4f8fe7dab%3A0xe01b4b8999a30cf7!2zMzggxJDGsOG7nW5nIHPhu5EgNiwgS2h1IGTDom4gY8awIFRydW5nIFPGoW4sIELDrG5oIENow6FuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcxODEzLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1696666073653!5m2!1svi!2s" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div> 
            
         <div class="ftco-footer-widget mb-4">
 
                </div> 
         </div> 


            <div class="col-md  ">
          
                    <div class="logo-container">
                    <img src="~/images/Logo.jpg" alt="Logo" style="width: 100px" />
                    </div>
               
                <p style="font-size:30px;font-weight:bold">Đối Với Hùng Phát- Chỉ Có Khách Hàng Là Tồn Tại Vĩnh Cữu</p>
                <div class="block-23" >
                    <ul>
                        <li>
                            <i class="fa-solid fa-map-location-dot mr-4" style=" font-size:30px"></i>
                            <span style="font-size:20px ;font-weight:bold" class="text">38 Đường Số 6 Khu Dân Cư Trung Sơn Bình Chánh Thành Phố HCM</span>
                        </li>
                        
                    </ul>
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone-volume mr-4" style=" font-size:30px"></i>
                            <span  style="font-size:20px ;font-weight:bold" class="text">Phone:028 54338868 </span>
                        </li>

                    </ul>
                    <ul>
                        <li>
                            <i class="fa-regular fa-envelope mr-4" style=" font-size:30px"></i>
                            <span style="font-size:20px ;font-weight:bold" class="text">hungphathcmhotel@gmail.com</span>
                        </li>

                    </ul>
                </div>


            </div>


        </div>
   
    </div>
</footer>