@using Hotel.Filters;


<!-- Header Section Begin -->
<header class="header-section">
	<div class="top-nav">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<ul class="tn-left">
						<li><i class="fa fa-phone"></i> (12) 345 67890</li>
						<li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="tn-right">
						<div class="top-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-tripadvisor"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
						
						<div class="language-option">
							<img src="~/images/logo.jpg" alt="">
							<span>EN <i class="fa fa-angle-down"></i></span>
							<div class="flag-dropdown">
								<ul>
									<li><a href="#">Vietnames</a></li>
									<li><a href="#">English</a></li>
								</ul>
							</div>
						</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div class=" dropdown bk-btn" style="margin-left: 10px;background: none;">
								<a class=" dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="~/images/logo-user.png" alt="Profile Picture" style="width: 60px; height: 60px;">
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="transform: translate(-84px, 73px);">
									<li><a class="dropdown-item" href="#"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
									<li><a class="dropdown-item" asp-controller="User" asp-action="ChangePassword"><i class="fas fa-sliders-h fa-fw"></i> Change password</a></li>

									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" asp-controller="user" class="nav-link text-white " asp-action="Logout"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
								</ul>
							</div>
						}
						else
						{
							<div class=" dropdown bk-btn" style="margin-left: 10px;background: none;">
							<a class=" dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<a class="dropdown-item" asp-controller="user" class="nav-link text-white " asp-action="Login"><i class="fas fa-sign-in-alt fa-fw"></i> Login</a>
							</a>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-item">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="logo">
						<a href="/">
							<img src="~/images/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-10">
					<ul class="nav-menu">
						<nav class="mainmenu">
							<ul>
								<li class="active"><a href="/">Home</a></li>
								<li><a asp-action="Index" asp-controller="Room">Rooms</a></li>
								<li >
									<a >About </a>
									<ul class="dropdown">
										<li style="margin-top:-7px; border: 1px solid gray;border-radius:5px;">
											@await Component.InvokeAsync("HeaderData")
										</li>
									</ul>
								</li>
								
								@if (User.Identity.IsAuthenticated)
								{
									<li>
										@if (User.IsInRole("admin"))
										{
											<a href="./pages.html">Admin</a>
										}else{
											<a href="./pages.html">Employee</a>
										}

										<ul class="dropdown" style="min-width: 270px;  overflow-y: auto; height: 450px; margin-left: -15px;margin-top:-7px; border: 1px solid gray;border-radius:5px;">
											<li><a asp-controller="User" asp-action="Register">Create account</a></li>
											<li><a href="/admin/RoomType/Index">Manager room style</a></li>
											<li><a href="/admin/RoomUnity/Index">Manager utility</a></li>
											<li><a href="/admin/Room/Index">Manager Room</a></li>
											<li><a href="/admin/RoomProperty/Index">Manager room detail</a></li>

											<li><a asp-controller="AdminBanner" asp-action="Index">Manager Banner</a></li>
											<li><a asp-controller="AdminPolicy" asp-action="Index">Manager Policy</a></li>
											<li><a asp-controller="AdminHotel" asp-action="Index">Manager Trang chủ</a></li>
											<li><a asp-controller="AdminGalery" asp-action="Index">Manager room images</a></li>
											<li><a asp-controller="AdminComment" asp-action="Index">Manager commment</a></li>
											<li><a asp-controller="AdminOrder" asp-action="Index">Manager Order</a></li>
										</ul>
									</li>
								}
								<li><a <a asp-controller="About" asp-action="Price">Price</a></li>
								<li><a href="#footer_contact">Contact</a></li>

							</ul>
						</nav>
						@* <div class="nav-right search-switch">
							<i class="icon_search"></i>
						</div> *@
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

@if (User.Identity.IsAuthenticated)
{
	<script>

		//play audio

		const playAudio = () => {
			// Create an AudioContext
			const audioContext = new (window.AudioContext || window.webkitAudioContext)();

			// Create an AudioBufferSourceNode
			const source = audioContext.createBufferSource();

			// Construct the URL to the MP3 file in the wwwroot folder
			const audioFileUrl = '/audio/notice.wav'; // Replace with the actual path

			// Fetch the MP3 file
			fetch(audioFileUrl)
				.then(response => response.arrayBuffer())
				.then(data => audioContext.decodeAudioData(data))
				.then(buffer => {
					// Set the buffer as the source's audio buffer
					source.buffer = buffer;

					// Connect the source to the audio context's destination (speakers)
					source.connect(audioContext.destination);

					// Play the audio
					source.start(0);
				})
				.catch(error => {
					console.error('Error loading audio file: ' + error);
				});

		}



		const getOrder = () => {
			$.get('/admin/order/CountOrder',
				(data) => {
					localStorage.setItem('tempTimes', data)
					let check = localStorage.getItem("orderTimes");
					if (check) {
						if (Number(check) < Number(data)) {
							playAudio()
							if (!$('.notice_newOrder').find('div').length > 0) {
								$('.notice_newOrder').append(`<div class="bg bg-danger" style="width:10px;height:10px;border-radius:50%; position:relative;bottom:40px;left:20px"></div>`)
							}

						}
					} else {
						localStorage.setItem('orderTimes', data)
					}

				})
		}

		const recallData = setInterval(() => {
			getOrder();
		}, 60000)


		$(document).ready(() => { recallData })


		$('.notice_newOrder').click(() => {
			location.href = '/admin/order/index'
		})
	</script>
}
