@{
    ViewData["Title"] = "Create";
}

@model RoomPolicy
<div class="container" style="min-height:40vh;background-color:white;padding:2rem">
    <h1 class="mb-3">Tạo Mới chính sách</h1>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label class="control-label">Nội dung chính sách</label>
            <input asp-for="Content">
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Tạo mới</button>
    </form>
</div>
