
@model Hotel.Dtos.PassDto

@if (ViewData.ContainsKey("Error"))
{
    <p class="alert alert-warning" role="alert">@ViewData["Error"]</p>
}

<h1> Đổi mật khẩu</h1>

<form asp-controller="User" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Current Password</label>
        <input type="password" asp-for="CurrentPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập mật khẩu hiện tại">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" asp-for="NewPassword" class="form-control" id="exampleInputPassword1" placeholder="nhập mật khẩu mới">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Confirm New Password</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu mới">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

   
    <button type="submit" class="btn btn-primary">Change password</button>
</form>