
body, h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a, .nav > li > a {
    font-family: 'Sarabun', sans-serif !important;
}

.col-room .room-desc ul li:last-child {
    margin-right: 0;
}


.header-full-width .container {
    padding-left: 50px;
    padding-right: 50px;
}

body {
    background: white;
}

#header {
    padding: 10px 10px 0 10px;
}

.box-contact-top a {
    display: block;
    padding: 8px 40px;
    background: #C5A46D;
    color: white;
}

.section-hero {
    padding: 10px 10px 0 10px;
}

.box-content {
    margin-top: -90px;
    padding: 100px 175px 110px 80px;
    background: #F6F6FA;
    width: 600px;
}

    .box-content .sub-title h3 {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.6em;
        letter-spacing: 2px;
        display: inline-flex;
        align-items: center;
    }

    .box-content .sub-title {
        margin-bottom: 10px;
    }

        .box-content .sub-title h3:before {
            content: '';
            display: block;
            width: 40px;
            height: 1px;
            background: #5a5a5a;
            margin-right: 25px;
        }

    .box-content .title h2 {
        font-size: 42px;
        line-height: 1.21em;
        margin-bottom: 5px;
        color: black;
        font-family: 'Source Serif Pro', serif !important;
    }

    .box-content .title span {
        font-size: 32px;
        font-family: 'Source Serif Pro', serif !important;
        color: #333;
    }

    .box-content .content p {
        color: #333;
        font-size: 17px;
    }

.section-gioithieu .col-img {
    margin-left: -40px;
}

.box-content .btn-more a {
    display: inline-block;
    color: #003f5c;
    padding: 10px 35px;
    border: 1px solid #003f5c;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
}

    .box-content .btn-more a:hover {
        background: #003f5c;
        color: white;
    }

.section-amthuc .box-content {
    padding: 110px 103px 130px 103px;
    width: 100%;
}

.section-amthuc .col-img {
    margin-top: -10px;
}

    .section-amthuc .col-img:first-child {
        margin-right: -40px;
        z-index: 1;
    }

    .section-amthuc .col-img:last-child {
        margin-left: -40px;
        z-index: 1;
    }

.section-amthuc .box-content .title, .section-tienich .box-content .title {
    margin-bottom: 30px;
}

.section-tienich .box-content {
    padding: 120px 120px 130px 100px
}

.section-tienich .col-image .img {
    width: 110% !important;
    margin-left: -110px;
}

.section-uudai .box-offer {
    text-align: center;
    padding: 0 100px;
}

    .section-uudai .box-offer .sub-title {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.6em;
        letter-spacing: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .section-uudai .box-offer .title {
        line-height: 1.3;
        font-family: 'Source Serif Pro', serif !important;
    }

    .section-uudai .box-offer .sub-title:before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background: white;
        margin-right: 25px;
    }

.section-uudai .btn-more {
    display: inline-block;
    color: white;
    padding: 10px 35px;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
    margin-top: 20px;
}

    .section-uudai .btn-more:hover {
        background: var(--primary-color);
        border-color: var(--primary-color);
    }

.section-tintuc .box-title .sub-title h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
}

    .section-tintuc .box-title .sub-title h3:before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        margin-right: 25px;
        background: gray;
    }


.section-tintuc .shape-1 {
    position: absolute;
    right: 0;
    top: -80px
}



.gallery__group {
    display: grid;
    grid-gap: 15px;
    background-color: #fff;
    grid-auto-rows: minmax(100px, 260px);
    position: relative;
    border-radius: 10px;
}

    .gallery__group .item-box-img {
        background-color: #EFEFEF;
        border-radius: 5px;
        font-size: 150%;
        position: relative;
    }

        .gallery__group .item-box-img:nth-child(1) {
            grid-column: 1;
            grid-row: 1 / 3;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

            .gallery__group .item-box-img:nth-child(1) img, .gallery__group .item-box-img:nth-child(1) .overlay-img {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }



        .gallery__group .item-box-img:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        .gallery__group .item-box-img:nth-child(3), .gallery__group .item-box-img:nth-child(3) .overlay-img {
            grid-column: 3;
            grid-row: 1;
            border-top-right-radius: 15px;
        }

            .gallery__group .item-box-img:nth-child(3) img {
                border-top-right-radius: 15px;
            }

        .gallery__group .item-box-img:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }

        .gallery__group .item-box-img:nth-child(5), .gallery__group .item-box-img:nth-child(5) .overlay-img {
            grid-column: 3;
            grid-row: 2;
            border-bottom-right-radius: 15px;
        }

            .gallery__group .item-box-img:nth-child(5) img {
                border-bottom-right-radius: 15px;
            }


    .gallery__group img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

.fancybox-thumbs > .fancybox-thumbs__list {
    list-style: none;
    position: absolute;
    position: relative;
    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
}

    .fancybox-thumbs > .fancybox-thumbs__list > a {
        float: left;
        overflow: hidden;
        max-width: 50%;
        padding: 0;
        margin: 3px;
        width: 98px;
        height: 75px;
        position: relative;
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-sizing: border-box;
    }

.section-room-content {
    padding: 60px 0
}

.gallery__group .overlay-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
}

.gallery__group a:hover .overlay-img {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease 0s;
}
/***************************/

.room_detail_item .room_detail__top .title-product {
    font-size: 42px;
    color: black;
    font-family: 'Source Serif Pro', serif !important;
    font-weight: 700
}

.room_detail_item .room_detail__mid .full-detail p {
    color: #333;
    font-size: 17px;
}

.block-content__room {
    width: 100%;
    display: flex;
    justify-content: space-between
}

    .block-content__room .room_detail_item {
        max-width: 72%;
        flex: 72%;
    }

    .block-content__room .room-sidebar {
        max-width: 25%;
        flex: 25%;
    }

        .block-content__room .room-sidebar .form-booking {
            width: 100%;
            box-shadow: 0 0 10px #ececec;
            padding: 20px 25px 30px;
            border-radius: 10px;
        }

.form-booking input {
    height: 55px;
    font-size: 17px;
}

.form-booking textarea {
    font-size: 17px;
}

.form-booking form {
    margin-bottom: 0;
}


.form-booking input[type="submit"] {
    margin-bottom: 0;
    width: 100%;
}

.form-booking .title {
    font-size: 25px;
    font-family: 'Source Serif Pro', serif !important;
    font-weight: 700;
    margin-bottom: 20px;
}

.room_detail_item .room_detail__bottom .item_title h3 {
    font-size: 28px;
    color: black;
    font-family: 'Source Serif Pro', serif !important;
    font-weight: 600;
}

.room_detail_item .room_detail__bottom ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 80%;
}

    .room_detail_item .room_detail__bottom ul li {
        max-width: 33%;
        flex: 33%;
        color: #333;
        font-weight: 500;
        position: relative
    }

        .room_detail_item .room_detail__bottom ul li:before {
            content: '\f00c';
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            color: #C5A46D;
            margin-right: 10px;
        }

.detail_room ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}

    .detail_room ul li {
        margin-right: 50px;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: black;
    }

        .detail_room ul li i {
            margin-right: 10px;
        }

.room_detail_item .room_detail__bottom.quydinh ul li {
    max-width: 44%;
    flex: 44%;
}

    .room_detail_item .room_detail__bottom.quydinh ul li:before {
        content: '\f46d';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        color: var(--primary-color);
        margin-right: 10px;
    }

.section-phong .col-room .col-inner .room-thumb-container {
    margin: 0 20px
}

.section-phong {
    padding-left: 100px;
    padding-right: 100px;
}

.box-title .sub-title h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
}

    .box-title .sub-title h3:before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        margin-right: 25px;
        background: gray;
    }

.box-title .title h2 {
    line-height: 1.3;
    font-family: 'Source Serif Pro', serif !important;
    font-size: 42px;
    color: #003f5c;
}

.btn-more a {
    display: inline-block;
    color: #003f5c;
    padding: 10px 35px;
    border: 1px solid #003f5c;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
}

    .btn-more a:hover {
        background: #003f5c;
        color: white;
    }

.group-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.col-room .room-thumb a .room-poster {
    overflow: hidden;
}

.col-room .room-thumb-container:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.col-room .room-thumb img {
    transition: all 1s;
}

.col-room .room-poster {
    position: relative
}

.col-room .room-name {
    font-family: 'Source Serif Pro', serif !important;
    font-size: 25px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.col-room .room-desc ul {
    display: flex;
    list-style: none;
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
}

    .col-room .room-desc ul li {
        margin-right: 30px;
        display: flex;
        align-items: center;
        font-size: 17px;
        color: black;
        margin-left: 0;
    }

        .col-room .room-desc ul li i {
            margin-right: 10px;
        }

/* .col-room:after{
  content:'';
  position: absolute;
  width: 700px;
  height: 400px;
  background: rgba(134, 112, 80, 0.24);
  top: -40px;;
  right: 100px;
  z-index: -1
} */


.section-map .col-desc .col-inner, .section-map .col-desc .col-inner .box-content-map {
    height: 100%;
}

    .section-map .col-desc .col-inner .box-content-map {
        background: var(--primary-color)
    }

    .section-map .col-desc .col-inner .box-content-map {
        padding: 80px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

        .section-map .col-desc .col-inner .box-content-map .box-title h3, .section-map .col-desc .col-inner .box-content-map .box-title h2 {
            color: white;
        }

.section-map .col-desc {
    height: 450px;
}

    .section-map .col-desc .col-inner .box-content-map .box-title h2 {
        font-size: 35px;
        text-align: left;
    }

    .section-map .col-desc .col-inner .box-content-map .box-desc {
        text-align: left;
        color: white;
        font-size: 18px;
        margin-top: -40px;
    }

    .section-map .col-desc .col-inner .box-content-map .box-location i {
        margin-right: 10px;
    }

    .section-map .col-desc .col-inner .box-content-map .box-location {
        color: white;
        font-size: 18px;
    }



@media screen and (max-width: 1300px) {
    .section-map .col-desc .col-inner .box-content-map {
        padding: 50px !important
    }
}




  


.eltd-newsletter {
    display: flex;
    margin-bottom: 30px
}

    .eltd-newsletter .wpcf7-form-control-wrap input {
        border: 1px solid var(--primary-color);
        height: 55px;
    }

    .eltd-newsletter input {
        margin-bottom: 0;
        height: 55px;
    }



body {
    color: #242424;
}

.blog-wrapper.blog-single.page-wrapper .post-sidebar .widget, .blog-archive .post-sidebar .widget {
    padding: 15px;
    background: rgb(247 247 247);
}

    .blog-wrapper.blog-single.page-wrapper .post-sidebar .widget form, .blog-wrapper.blog-single.page-wrapper .post-sidebar .widget .eltd-newsletter, .blog-archive .post-sidebar .widget form, .post-sidebar .widget .eltd-newsletter {
        margin-bottom: 0;
    }



    .blog-wrapper.blog-single.page-wrapper .post-sidebar .widget .wpcf7-form-control, .post-sidebar .widget .wpcf7-form-control {
        margin-right: 0;
    }

.rpwwt-widget ul li {
    margin-bottom: .7em;
}

    .rpwwt-widget ul li a span {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 1.5;
        font-weight: 500;
        color: #333
    }

span.widget-title {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: bold
}


.post-sidebar .widget .wp-block-embed {
    margin-bottom: 0;
}

    .post-sidebar .widget .wp-block-embed iframe {
        height: 200px
    }

.row-room {
    max-width: 80%;
    margin: 0 auto
}

.term-phong .hero-thumbnail img, .term-room .hero-thumbnail img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.term-phong .entry-header, .term-room .entry-header {
    padding-left: 10px;
    padding-right: 10px;
    position: relative
}

.term-phong .card-img-overlay, .term-room .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
    width: calc(100% - 20px);
    height: 600px;
    margin: 0 auto;
}

.group-room .col-room-inner .box-room-item:nth-child(odd) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.group-room .col-room-inner .box-room-item:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap
}

.group-room .col-room-inner .box-room-item .box-img {
    max-width: 45%;
    flex: 45%;
}

.group-room .col-room-inner .box-room-item .box-desc {
    max-width: 55%;
    flex: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.group-room .col-room-inner .box-room-item .box-desc {
    padding: 50px;
}

.group-room .col-room-inner .detail_room ul li {
    margin-right: 45px;
}

.group-room .col-room-inner .box-room-item .box-desc .item-title {
    font-size: 38px;
    color: black;
    font-family: 'Source Serif Pro', serif !important;
    font-weight: 700;
    max-width: 70%;
    flex: 70%;
}

.group-room .col-room-inner .box-room-item .box-desc a {
    height: auto;
    display: inline-block;
}

.group-room .col-room-inner .box-room-item {
    margin: 50px 0;
}


    .group-room .col-room-inner .box-room-item .box-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .group-room .col-room-inner .box-room-item .item-desc p {
        font-size: 17px;
    }

    .group-room .col-room-inner .box-room-item .item-desc {
        margin-bottom: 40px;
    }

.term-phong .card-img-overlay, .term-room .card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .term-phong .card-img-overlay h2, .term-room .card-img-overlay h2 {
        font-size: 50px;
        color: white;
        font-family: 'Source Serif Pro', serif !important;
        font-weight: 700;
        margin-bottom: 70px
    }

    .term-phong .card-img-overlay .box-desc, .term-room .card-img-overlay .box-desc {
        text-align: center;
    }

    .term-phong .card-img-overlay p, .term-room .card-img-overlay p {
        color: white;
        font-size: 20px;
        font-family: 'Source Serif Pro', serif !important;
    }

.row-desc {
    margin: 150px auto !important;
    position: relative;
}

    .row-desc .col-desc {
        position: relative;
        padding: 0 120px;
        text-align: center;
    }

        .row-desc .col-desc p {
            font-size: 30px;
            font-family: 'Source Serif Pro', serif !important;
            font-style: italic;
            position: relative;
            margin-bottom: 0;
        }

        .row-desc .col-desc:before {
            content: '';
            position: absolute;
            width: 600px;
            height: 220px;
            background: #6fcdae4a;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }

.blog-archive .post-sidebar .widget {
    padding: 15px;
    background: rgb(247 247 247);
}

.header:not(.transparent) .header-nav > li.active > a, .header:not(.transparent) .header-nav > li.current-menu-item > a {
    color: #faab76
}


.section-page {
    padding-left: 10px;
    padding-right: 10px;
}

.page-group .col-desc .box-desc {
    padding: 100px
}


    .page-group .col-desc .box-desc h2 {
        font-size: 38px;
        color: black;
        font-family: 'Source Serif Pro', serif !important;
        font-weight: 700;
        margin-bottom: 50px;
        position: relative;
    }

        .page-group .col-desc .box-desc h2:after {
            content: '';
            width: 100px;
            height: 2px;
            background: gray;
            position: absolute;
            bottom: -20px;
            left: 0;
        }

    .page-group .col-desc .box-desc p {
        font-size: 17px;
    }

.page-group .row-item {
    margin-bottom: 40px;
}

.section-page .banner h2 {
    font-size: 50px;
    color: white;
    font-family: 'Source Serif Pro', serif !important;
    font-weight: 700;
    margin-bottom: 70px;
}


.section-page .banner p {
    color: white;
    font-size: 20px;
    font-family: 'Source Serif Pro', serif !important;
}

.group-room .col-room-inner .box-room-item:hover img {
    transform: scale(1.1)
}

.group-room .col-room-inner .box-room-item img {
    transition: all 1s;
    height: 100%;
    object-fit: cover;
}

.group-room .col-room-inner .box-room-item .box-img {
    overflow: hidden;
    position: relative
}

    .group-room .col-room-inner .box-room-item .box-img .img-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(0,0,0,.2);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease 0s;
    }

.group-room .col-room-inner .box-room-item:hover .img-overlay {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease 0s;
}

.page-lienhe .col-lienhe h2 {
    line-height: 1.3;
    font-family: 'Source Serif Pro', serif !important;
    font-size: 42px;
    color: black;
    margin-bottom: 0;
}

.section-thongtin .col-thongtin .col-inner .box-content-map {
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-color);
    height: 100%;
}

.section-thongtin .col-thongtin {
    height: 450px;
}

    .section-thongtin .col-thongtin .col-inner {
        height: 100%;
    }

        .section-thongtin .col-thongtin .col-inner .box-content-map h2 {
            color: white;
        }

        .section-thongtin .col-thongtin .col-inner .box-content-map ul {
            list-style: none;
        }

            .section-thongtin .col-thongtin .col-inner .box-content-map ul li {
                color: white;
                margin-left: 0;
                font-size: 18px;
                margin-bottom: 1em
            }

                .section-thongtin .col-thongtin .col-inner .box-content-map ul li i {
                    margin-right: 20px;
                }

.box-hero p {
    font-size: 20px;
    font-family: 'Source Serif Pro', serif !important;
    font-style: italic;
    position: relative;
    margin-bottom: 0;
}

.box-hero h2 {
    font-size: 50px;
    font-family: 'Source Serif Pro', serif !important;
    margin-bottom: 30px
}

.box-contact-top a:hover {
    background: transparent;
    color: #C5A46D
}

.box-contact-top a {
    border: 1px solid #C5A46D;
    transition: all .5s;
    font-size: 19px;
    text-transform: uppercase
}

.video-one__content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

    .video-one__content .video-popup {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 26px;
        position: relative;
        margin-bottom: 40px;
        cursor: pointer;
        padding-left: 3px;
    }

        .video-one__content .video-popup::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #fff;
            opacity: .4;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            -webkit-animation: videoBtnAnim 3s ease-in infinite;
            animation: videoBtnAnim 3s ease-in infinite;
        }

        .video-one__content .video-popup::after {
            content: '';
            position: absolute;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            border: 2px solid #fff;
            opacity: .15;
            top: calc(50% - 70px);
            left: calc(50% - 70px);
            -webkit-animation: videoBtnAnim 5s ease-in-out infinite;
            animation: videoBtnAnim 5s ease-in-out infinite;
        }

@keyframes videoBtnAnim {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    75% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 111;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    position: relative;
    width: 50%;
}

.close-modal {
    color: #fff;
    right: -10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -25px;
    font-size: 2em;
}

    .close-modal:hover, .close-modal:focus {
        color: orange;
        text-decoration: none;
        cursor: pointer;
    }

.wrapper-video {
    height: 500px;
}

.header-main .nav > li > a {
    color: white;
}

.header-main .header-inner {
    padding: 0
}

#logo {
    position: relative;
}

#header .header-main {
    overflow: hidden;
    /*   background: rgba(51, 51, 51, 0.7); */
}

#logo:before {
    display: block;
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    background: #003f5c;
    width: 3000px;
    height: 100px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#logo a {
    text-align: center;
    height: 100px;
    background: #003f5c;
}

.header-main .header-nav {
    padding-left: 70px;
}

.section-intro .row-gioithieu {
    padding: 80px 50px;
    border: 10px solid rgba(134, 112, 80, 0.24)
}

.section-intro .box-title .title h2 {
    font-size: 50px;
    color: #003f5c
}

.box-title .sub-title h3 {
    color: #c19b76
}


.section-intro .banner::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-style: solid;
    border-width: 1px;
    top: 2rem;
    right: 2rem;
    bottom: -2rem;
    left: -2rem;
    border-color: #dadada;
}

.section-intro .banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-style: solid;
    border-width: 1px;
    top: -2rem;
    right: -2rem;
    bottom: 2rem;
    left: 2rem;
    border-color: #dadada;
}


.section-intro .banner .bg:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0;
    position: absolute;
    z-index: 1;
    border-top-width: 1px;
    top: 2rem;
    border-right-width: 1px;
    right: 2rem;
    bottom: 0;
    left: 0;
    border-color: rgba(255, 255, 255, 0.5);
}

.section-intro .item-contact p {
    display: none;
}

.section-intro .item-contact a {
    display: inline-flex;
    flex-direction: column;
    width: 180px;
    height: 120px;
    background: #003f5c;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-right: -148px;
}

    .section-intro .item-contact a div {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

        .section-intro .item-contact a div:last-child {
            font-size: 30px;
        }

.col-room .room-thumb img {
    height: 450px;
    object-fit: cover;
}


.overlay-box:hover::before, .overlay-box:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.col-room .room-thumb-container:hover .room-poster .overlay-img:before, .col-room .room-thumb-container:hover .room-poster .overlay-img:after {
    opacity: 1;
    transform: translateY(0);
}

.col-room .room-poster .overlay-img::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: rgba(14, 24, 36, 0.7);
    transition: all 500ms ease;
    transform: translateY(-100%);
}

.col-room .room-poster .overlay-img::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: rgba(14, 24, 36, 0.7);
    transition: all 500ms ease;
    transform: translateY(100%);
}

.group-room .col-room-inner .box-room-item img {
    max-height: 434px
}

#header .stuck .header-main, .page-template #header .header-main {
    background: transparent
}

.header .header-nav > li.active > a, .header .header-nav > li.current-menu-item > a, .header .header-nav > li:hover > a {
    color: #C5A46D !important
}

.header:not(.transparent) .header-nav-main.nav > li > a {
    color: #003f5c
}

.section-dichvu .col-dichvu .image-block {
    padding-right: 0px;
    position: relative;
    z-index: 1;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    color: white
}

.section-dichvu .col-dichvu .image-block .img2 {
    position: absolute;
    right: 0;
    bottom: -60px;
    z-index: 1;
}

.section-dichvu .col-dichvu .image-block .img1 img {
    width: 420px;
    height: 530px;
}

.section-dichvu .col-dichvu .image-block img {
    width: 100%;
    height: 100%;
}

.section-dichvu .col-dichvu .image-block .img2 img {
    border: 18px solid rgba(231, 221, 208, 0.24);
    border-bottom-right-radius: 50px;
    width: 380px;
    height: 300px
}

.section-dichvu .col-dichvu .image-block .text1 {
    font-size: 18px;
    letter-spacing: 8px;
    line-height: 47px;
    color: rgba(112, 112, 112, 0.5);
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: rotate(-90deg) translateX(250px) translateY(-110px);
    transform-origin: bottom left;
    width: max-content;
    margin-left: -20px;
    margin-bottom: 20px;
}



.section-dichvu .content-block {
    position: relative;
    background: rgba(231, 221, 208, 0);
    padding: 50px 30px;
    margin-top: 90px;
}

    .section-dichvu .content-block::before {
        position: absolute;
        content: "";
        left: -250px;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(231, 221, 208, 0.24);
    }

    .section-dichvu .content-block .title-box {
        margin-bottom: 0px;
    }

.section-dichvu .sub-title {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
}

    .section-dichvu .sub-title:before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        margin-right: 25px;
        background: gray;
    }

.section-dichvu .sec-title {
    font-family: 'Source Serif Pro', serif !important;
    font-size: 42px;
    color: #003f5c;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    position: relative;
    color: #0e2a4e;
    padding-right: 40px;
}


.section-dichvu .content-block .time {
    font-size: 18px;
    line-height: 30px;
    color: #8a8b96;
    margin-bottom: 39px;
    position: relative;
}


.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    overflow: hidden;
    vertical-align: middle;
    transition: 0.5s;
    z-index: 1;
    border-radius: 4px;
    background-color: #003f5c;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.section-dichvu .content-block .content {
    color: #333;
    position: relative;
    font-size: 18px;
}

.section-intro .content p {
    font-size: 18px;
}

.col-button-control .slider-control {
    width: 120px;
    position: relative;
    bottom: -30px;
}

.col-button-control .slider-control {
    height: 30px;
}

    .col-button-control .slider-control .slick-arrow {
        background: #fff !important;
        position: absolute;
        border: none !important;
        box-shadow: 0 0 10px -6px #000;
    }

.col-button-control .next {
    right: 0px;
}

.col-button-control .btn {
    width: 60px !important;
    height: 55px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    font-size: 18px;
}

    .col-button-control .btn:hover {
        background: #003f5c;
        color: white
    }

.service-bottom .content-block {
    position: relative;
    background: rgba(231, 221, 208, 0);
    padding: 80px 0 90px;
    padding-left: 95px;
}

    .service-bottom .content-block::before {
        position: absolute;
        content: "";
        right: -250px;
        top: 0;
        left: 0;
        bottom: 0;
        background: rgba(231, 221, 208, 0.24);
    }

    .service-bottom .content-block .text {
        position: relative;
        font-size: 18px;
        line-height: 30px;
        color: #797979;
        font-weight: 400;
        margin-bottom: 0;
    }

    .service-bottom .content-block h4 {
        font-size: 18px;
        line-height: 30px;
        color: var(--primary-color);
        font-family: inherit;
        position: relative;
    }



.service-bottom .image-block {
    position: relative;
    margin-top: 150px;
    padding-bottom: 50px;
}

    .service-bottom .image-block .img1 {
        position: relative;
        text-align: right;
    }

        .service-bottom .image-block .img1 img {
            width: 600px;
            height: 436px;
        }

    .service-bottom .image-block .img2 {
        position: absolute;
        left: 0;
        bottom: -15px;
        z-index: 1;
        overflow: hidden;
    }

        .service-bottom .image-block .img2::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            display: block;
            content: "";
            width: 0;
            height: 0;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 0%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        .service-bottom .image-block .img2 img {
            border: 18px solid rgba(231, 221, 208, 0.24);
            width: 373px;
            height: 283px;
            border-bottom-left-radius: 50px;
        }

.section-dichvu .shape-1 {
    top: -70px;
    position: absolute;
    right: 0
}

.all-gallery .item-gallery {
    margin: 0 15px;
    position: relative;
}

    .all-gallery .item-gallery img {
        height: 400px;
        object-fit: cover;
        width: 100%;
    }


.col-button-control .next-gallery {
    right: 0px;
}

.section-hinhanh .col-button-control {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}


.all-gallery .item-gallery:hover:before, .all-gallery .item-gallery:hover:after {
    opacity: 1;
    transform: translateY(0);
}

.all-gallery .item-gallery::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: rgba(14, 24, 36, 0.7);
    transition: all 500ms ease;
    transform: translateY(-100%);
}

.all-gallery .item-gallery::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    opacity: 0;
    background: rgba(14, 24, 36, 0.7);
    transition: all 500ms ease;
    transform: translateY(100%);
}


.section-tintuc .col-tintuc-ngang .col.post-item {
    padding-bottom: 0;
}

.service-bottom {
    margin-top: -30px;
}

.item-gallery {
    overflow: hidden
}

    .item-gallery:hover img {
        transform: scale(1.1)
    }

    .item-gallery img {
        transition: all 2s;
    }

    .item-gallery:before {
        z-index: 1
    }

.section-tintuc .col-tintuc-doc .box {
    background: rgba(231, 221, 208, 0.24)
}

.section-tintuc .col-tintuc-ngang > .col-inner {
    background: rgba(231, 221, 208, 0.24);
    overflow: hidden;
}


.section-tintuc .col-tintuc-doc .box .box-text {
    padding: 20px;
}

.section-tintuc .box .box-text h5 {
    color: var(--primary-color)
}

.section-tintuc .col-tintuc-doc, .section-tintuc .col-tintuc-ngang {
    padding-bottom: 0
}

.service-top .image-block .img1 img {
    border-top-left-radius: 50px;
}

.service-bottom .image-block .img1 img {
    border-top-right-radius: 50px;
}

.header-main .nav > li > a {
    font-family: 'Source Serif Pro', serif !important;
    font-size: 21px
}

.section-tintuc .col-tintuc-ngang .col.post-item .box {
    display: flex;
    flex-direction: row-reverse
}

    .section-tintuc .col-tintuc-ngang .col.post-item .box .box-image {
        width: 100% !important
    }

    .section-tintuc .col-tintuc-ngang .col.post-item .box .box-text {
        display: flex;
        align-items: center;
        padding: 30px;
    }

.service-bottom .content-block .text {
    margin-top: 20px;
}

.service-bottom .content-block h4 a {
    margin-top: 10px;
}


.section-dichvu .image-block .text2 {
    font-size: 18px;
    letter-spacing: 8px;
    line-height: 47px;
    color: rgba(112, 112, 112, 0.5);
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: rotate(-90deg) translateX(270px) translateY(-600px);
    transform-origin: bottom left;
    width: max-content;
    margin-left: -20px;
    margin-bottom: 20px;
}

.section-tintuc .box-thongtin {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(231, 221, 208, 0.24);
    padding: 30px 40px;
}

.section-tintuc .col-thongtin .col-inner {
    height: 98%;
}

.section-tintuc .box-thongtin .item {
    display: flex;
    margin-bottom: 20px;
}

    .section-tintuc .box-thongtin .item .item-icon i {
        width: 40px;
        height: 40px;
        font-size: 20px;
        background: var(--primary-color);
        text-align: center;
        line-height: 40px;
        color: white;
        margin-right: 20px;
        margin-top: 20px;
    }

.section-tintuc .box-thongtin .tieu-de {
    font-size: 28px;
    font-family: 'Source Serif Pro', serif !important;
}

.section-tintuc .box-thongtin .item:last-child {
    margin-bottom: 0;
}

.section-tintuc .box:hover h5 {
    color: #c19647
}

.section-tintuc .box h5 {
    transition: all .3s;
}

.section-tintuc .box-thongtin .item .item-icon i {
    border-radius: 100px;
}

.section-tintuc .box-thongtin .tieu-de {
    font-weight: 600
}

.section-dichvu .image-block .img2 {
}

    .section-dichvu .image-block .img2:before, .section-dichvu .image-block .img2:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: all .4s ease-out 0s;
    }

    .section-dichvu .image-block .img2:before {
        z-index: 1;
    }

    .section-dichvu .image-block .img2:hover:before {
        background-color: rgba(255,255,255,0.2);
        right: 50%;
        left: 50%;
    }

    .section-dichvu .image-block .img2:hover:after {
        background-color: rgba(255,255,255,0.2);
        top: 50%;
        bottom: 50%;
    }

.section-intro .col-hinhanh .col-inner::before {
    right: 0;
    opacity: 0.7;
    top: 0;
}

.section-intro .col-hinhanh .col-inner::after {
    bottom: 0;
    opacity: 0.7;
    left: 0;
}


.section-intro .col-hinhanh .col-inner::before, .section-intro .col-hinhanh .col-inner::after {
    content: "";
    background: #fff;
    height: 0;
    width: 0;
    z-index: 1;
    position: absolute;
    -webkit-transition-duration: 1.3s !important;
    -o-transition-duration: 1.3s;
    transition-duration: 1.3s !important;
}

.section-intro .col-hinhanh .col-inner:hover::after, .section-intro .col-hinhanh .col-inner:hover::before {
    height: 100%;
    opacity: 0;
    width: 100%;
}


.blog-archive .box {
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
    transition: all .3s;
}

    .blog-archive .box .box-text {
        padding: 20px;
    }

        .blog-archive .box .box-text h5 {
            font-size: 20px
        }

    .blog-archive .box:hover {
        box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 10%);
    }

        .blog-archive .box:hover img {
            transform: scale(1.1)
        }

.page-title {
    margin: 10px
}

.recent-posts-widget-with-thumbnails {
    position: sticky;
    top: 110px;
}

.post-sidebar #secondary {
    display: unset;
}

span.widget-title {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
}

.service-page-middle:after {
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 32px;
    content: "";
    display: inline-block;
    background: linear-gradient(-135deg,#fff 16px,transparent 0),linear-gradient(135deg,#fff 16px,transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    z-index: 2
}

.services-item {
    position: relative;
    margin-bottom: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgb(33 30 25 / 10%);
    -moz-box-shadow: 0 0 30px 0 rgba(33,30,25,.1);
    box-shadow: 0 0 30px 0 rgb(33 30 25 / 10%);
}

    .services-item .item-photo .img:first-child {
        border: 30px solid #fff;
        height: 450px;
        min-height: 470px
    }

    .services-item .item-photo .img {
        border: 20px solid #fff;
        -webkit-box-shadow: 0 0 30px 0 rgb(33 30 25 / 10%);
        -moz-box-shadow: 0 0 30px 0 rgba(33,30,25,.1);
        box-shadow: 0 0 30px 0 rgb(33 30 25 / 10%);
        margin-bottom: 0
    }

        .services-item .item-photo .img:last-child {
            position: absolute;
            bottom: -10%;
            right: -10%;
            z-index: 2;
            width: 50% !important;
            height: 230px;
        }

        .services-item .item-photo .img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .services-item .item-photo .img .img-inner {
            height: 100%;
        }

    .services-item .item-photo {
        padding: 0
    }

    .services-item .item-desc .box-desc {
        padding: 80px 100px;
    }

        .services-item .item-desc .box-desc h2 {
            font-size: 38px;
            color: black;
            font-family: 'Source Serif Pro', serif !important;
            font-weight: 700;
            margin-bottom: 50px;
            position: relative;
        }

    .services-item .box-desc p {
        font-size: 18px;
    }

    .services-item .item-desc .box-desc h2:after {
        position: absolute;
        content: '';
        background: #da9b3c;
        width: 150px;
        height: 10px;
        bottom: -2px;
        opacity: .3;
        left: 0;
    }

    .services-item:nth-child(2) .item-photo .img:last-child {
        left: -10%;
    }

.service-page-bottom {
    padding-bottom: 50px !important
}
