@{
    ViewData["Title"] = "Create";
}

@model RoomPropertyDetail
<div class="container" style="min-height:100vh;background-color:white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:1rem;padding-bottom:1rem">
    <h1> Tạo Mô Tả Chi Tiết</h1>

<form asp-action="Create" method="post">


    <div class="form-group">
        <label class="control-label">Chi Tiết</label>
        <input asp-for="Detail">
    </div>

      <div class="form-group">
        <label class="control-label">Cho Mô Tả</label>
        <select asp-for="RoomPropertyId" class="form-control" asp-items="ViewBag.RoomPropertyDetail"></select>
    </div>

    <button type="submit" class="btn btn-primary">Xong</button>
</form>

</div>
